@media (max-width: 1260px) {
    body {
        background-size: cover;
    }
}

@media(max-width: 1110px) {
    body {
        background: url(../images/bg-mobile.svg) hsl(257, 40%, 49%)no-repeat;
        background-size: contain;
    }

    .informacoes {
        flex-direction: column;
    }
    h1{
        font-size: 25px;
        line-height: 50px;
        margin-bottom: 18px;
    }

    p{
        font-size: 18px;
        line-height: 30px;
    }

}

@media (max-width: 834px) {
    .main {
        max-width: 768px;
        display: flex;
        flex-direction: column;
    }

    .logo {
        height: 150px;
    }

    .informacoes {
        max-width: 450px;
    }

    .info {
        padding: 50px 0;
    }

    .footer{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
     }

}


@media(max-width: 480px) {

    body {
        align-items: start;
    }

    .main{
        max-width: 450px;
        text-align: center;
    }

    .main .logo{
        text-align:left;
    }

    .informacoes img{
        max-width: 370px;        
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
     }

     .footer{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
     }

}

@media(max-width: 393px) {
    
    .main{
        max-width: 350px;
        text-align: center;
    }

    .logo{
        text-align:left;
    }

    .informacoes{
        margin-bottom: 50%;
    }

    .informacoes img{
        margin-bottom: 10%;        
    }
     .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
     }

     .footer{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
     }
}